<div>
    <div class="row">
        <div class="col-md-8">
            <div class="section" id="menu">
                <h2 class="text-center">Menu</h2>
                <ol id="menuItems">
                    {{#each burgers}} 
                      <li class="listItem">{{name}}</li><button>Add to Cart</button>
                    {{/each}}
                </ol>
            </div>
        </div>
        <div class="col-md-4">
            <div class="wrapper">
                <div class="row">
                    <div class="section" id="cart">
                        <h3 class="text-center">Cart</h3>
                        <ol id="cartItems">
                            {{#each burgers}} 
                            {{#if inCart}} 
                                <li>{{name}} </li>
                            {{/if}} 
                            {{/each}}
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="section" id="customize">
                        <h3 class="text-center">Customize</h3>
                    
                        <form class="create-form">

                            <div class="form-group">
                                <label for="newBurgerName">Burger Name:</label>
                                <input type="text" id="newBurgerName" name="name">
                            </div>
                            <button type="submit">Add Burger</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>