*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/burg2.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.container {
    margin-top:250px;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.section {
    background:white;
    border: 2px solid black;
}

#menu {
    height:550px;
    margin:30px 0px;
    margin-right:10px;
}

#menuItems {
    padding: 20px 50px;
}

.listItem {
    padding: 10px 0px;
    font-size:20px;
    
}

.wrapper {
    height:550px;
    margin: 30px 0px;
    margin-left:10px;
    position:relative;
}

#cart {
    height:60%;
    position:absolute;
    top:0;
    width:100%;
}

#customize {
    position:absolute;
    bottom:0;
    width:100%;
    height:30%;
}

button {
    padding:5px;
    font-size:12px;
    
}

.create-form {
    padding: 10px 30px;
}

