*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/burg2.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.container {
    margin-top:250px;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.section {
    background:white;
    border: 2px solid black;
    border-radius: 10px;
}

#menu {
    height:600;
    margin:30px 0px;
    margin-right:10px;
}

hr {
    margin: 10px 0px;
}

#menuItems {
    padding: 20px 50px;
}

.listItem {
    padding: 10px 0px;
    font-size:20px;
    
}

.wrapper {
    height:600px;
    margin: 30px 0px;
    margin-left:10px;
    position:relative;
}

#cart {
    min-height:250px;
    /* position:absolute; */
    top:0;
    width:100%;
}

#cartItems {
    padding: 10px 40px;
    font-size:18px;
}

.cartItem {
    margin:5px 0px;
}

#customize {
    /* position:absolute; */
    /* bottom:0; */
    margin-top:50px;
    width:100%;
    height:30%;
}

button {
    padding:5px;
    font-size:12px;
    border-radius: 10px;
    
}

.create-form {
    padding: 10px 30px;
}

